  #p5040 {
  font-family:"Poppins", sans-serif;
        }
   
#p5040 footer {
            text-align: center;
            padding: 14px 0;
            font-size: 14px;
            background: linear-gradient(to right, #FF5757, #8C52FF); /* Solo el degradado */
            color: #FFF;
            position: relative;
            bottom: 0;
            width: 100%;
            box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1); 
        }

#p5040 footer a {
  color: #fff;
  text-decoration: none;
}

#p5040 footer a:hover {
  text-decoration: underline;
}

#p5040 .social-icons a {
  margin: 0 10px;
  display: inline-block;
}

#p5040 .social-icons img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3b5998;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#p5040 .social-icons a:hover img {
  background-color: #2d4373;
  transform: scale(1.2);
}
